[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pgbackup = {editable = true, path = "."}
azure-storage-blob = "*"
"azure.mgmt.storage" = "*"
"azure.identity" = "*"
"azure.mgmt.subscription" = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
